extends layout

block content

  h1.text-center CURSES AND DRAT!

  p.text-center
    | We couldn't find what you were looking for. Thus, this is a 404.

  p.text-center
    | In the mean time, please enjoy this 
    a(href="https://openclipart.org/detail/170663/angry-cartoon-monkey-by-kuba-170663") Angry Cartoon monkey
    | , courtesy of kuba. 

  p.text-center
    img(src="#{root}/images/Angry_Cartoon_monkey.png" alt="Angry cartoon Monkey")
    

    
