extends singlePage

block content
  h1 About  

  p 
    code letter-opener
    |  is an engine that translates email files stored on your system into usable domain objects.

  p
    code letter-opener-express
    |  provides bindings into  
    code letter-opener
    |  sufficient for an Express-4-based Node application.

  p The whole idea is inspired by the Rails gem of the same name.

  h2 Thank yous
  
  p As with all projects, this one is indebted to many people who gave their time and talents to provide useful building blocks.
  p 
    | To all the folks whose work is represented in the dependencies found in  
    code package.json
    |  , the developers behind the Rails gem of the same name, and everyone who has made Node the grade platform that it is: THANK YOU!

  h2 Who built this?

  p 
    | Standing on the shoulders of giants, these modules were provided by  
    a(href="http://suchsoftware.com") Such Software
    | . We hope you enjoy it.
  p
    | If you have questions or issues with  
    code letter-opener
    |  , hit us up at  
    a(href="#{root}/feedback") the feedback page
    | .
