extends singlePage

block content
  h1 Feedback

  p 
    | For questions, comments, issues and the like, post them at 
    a(href="https://github.com/SuchSoftware/letter-opener-node") the project's repository
    |  .
