@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dev\/source\/suchsoftware\/letter-opener\/stylesheets\/letterOpener\.less}line{font-family:\000031}}
.message_list {
  border-right: 1px solid grey;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dev\/source\/suchsoftware\/letter-opener\/stylesheets\/letterOpener\.less}line{font-family:\000035}}
i.glyphicon {
  margin-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dev\/source\/suchsoftware\/letter-opener\/stylesheets\/letterOpener\.less}line{font-family:\000039}}
.tab-pane {
  padding: 15px;
}
